*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# VSCode
.vscode

# logback
logback.out.xml

reminder-be/src/main/resources/static/docs
reminder-be/target
reminder-fe/dist/
reminder-fe/node/
reminder-fe/node_modules/
reminder-fe/npm-debug.log
reminder-fe/target
reminder-fe/test-output
reminder-fece/tests/e2e/reports
reminder-fe/tests/unit/coverage
reminder-fe/yarn-error.log
reminder-fe/yarn.lock


security/target/
selenium-debug.log

!.mvn/wrapper/maven-wrapper.jar
