<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<!-- Console Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{ISO8601} %d{Z}] [%level] [%logger{10}] %msg%n</pattern>
		</layout>
	</appender>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>